:root {
    --color-blue: oklch(45% 50% 264deg);
    --color-red: oklch(50% 55% 31deg);

    --color-gray-50: oklch(98.42% 0.0034 247.86deg);
    --color-gray-100: oklch(12% 9.5% 264deg / 5%);
    --color-gray-200: oklch(12% 9% 264deg / 8%);
    --color-gray-300: oklch(12% 8.5% 264deg / 17%);
    --color-gray-400: oklch(12% 8% 264deg / 38%);
    --color-gray-500: oklch(12% 7.5% 264deg / 50%);
    --color-gray-600: oklch(12% 7% 264deg / 67%);
    --color-gray-700: oklch(12% 6% 264deg / 77%);
    --color-gray-800: oklch(12% 5% 264deg / 85%);
    --color-gray-900: oklch(12% 5% 264deg / 90%);
    --color-gray-950: oklch(12% 5% 264deg / 95%);

    @media (prefers-color-scheme: dark) {
        --color-blue: oklch(69% 50% 264deg);
        --color-red: oklch(80% 55% 31deg);

        --color-gray-50: oklch(17% 1% 264deg);
        --color-gray-100: oklch(28% 3% 264deg / 65%);
        --color-gray-200: oklch(31% 3% 264deg / 80%);
        --color-gray-300: oklch(35% 3% 264deg / 80%);
        --color-gray-400: oklch(47% 3.5% 264deg / 80%);
        --color-gray-500: oklch(64% 4% 264deg / 80%);
        --color-gray-600: oklch(82% 4% 264deg / 80%);
        --color-gray-700: oklch(92% 4.5% 264deg / 80%);
        --color-gray-800: oklch(93% 3.5% 264deg / 85%);
        --color-gray-900: oklch(95% 2% 264deg / 90%);
        --color-gray-950: oklch(94% 1.5% 264deg / 95%);
    }
}
.PopupButton {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    padding: 0 0.875rem;
    margin: 1.5rem 0 0;
    outline: 0;
    border: 2px solid #545F71;
    border-radius: 0.375rem;
    background-color: #545F71;
    font-family: inherit;
    font-size: 0.8rem;
    font-weight: 500;
    line-height: 1.5rem;
    color: #fff;
    user-select: none;

    &[data-color='white'] {
        color: #545F71;
        background-color: #fff;
    }

    @media (hover: hover) {
        &:hover {
            outline: 2px solid #3DAEE9;
            outline-offset: -2px;
        }
    }

    &:active {
        outline: 3px solid #3DAEE9;
        outline-offset: -2px;
    }

    &:focus-visible {
        outline: 2px solid #3DAEE9;
        outline-offset: -2px;
    }
}

.Backdrop {
    position: fixed;
    min-height: 100dvh;
    inset: 0;
    background-color: black;
    opacity: 0.2;
    transition: opacity 150ms;

    /* iOS 26+: Ensure the backdrop covers the entire visible viewport. */
    @supports (-webkit-touch-callout: none) {
        position: absolute;
    }

    @media (prefers-color-scheme: dark) {
        opacity: 0.7;
    }

    &[data-starting-style],
    &[data-ending-style] {
        opacity: 0;
    }
}

.Popup {
    box-sizing: border-box;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 32rem;
    max-width: calc(100vw - 3rem);
    margin-top: -2rem;
    padding: 1.7rem;
    border-radius: 0.8rem;
    outline: 2px solid #545F71;
    background-color: white;
    color: #545F71;
    transition: all 150ms;

    &[data-starting-style],
    &[data-ending-style] {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.9);
    }

    &[outline-color='yellow'] {
        outline: 3px solid #D4A244;
    }
    &[outline-color='red'] {
        outline: 3px solid #ff3b30;
    }
}

.Title {
    margin-top: 0.2rem;
    margin-bottom: 0;
    font-size: 1.125rem;
    line-height: 1.75rem;
    letter-spacing: -0.0025em;
    font-weight: bold;
    white-space: nowrap;
}

.Description {
    margin: 0 0 1.5rem;
    font-size: 0.9rem;
    line-height: 1.5rem;
}

.Actions {
    display: flex;
    justify-content: end;
    gap: 1rem;
}
