:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light;
    background-color: rgba(255, 255, 255, 0.87);
    color: #000000;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #545F71;
    color: #fff;
    cursor: pointer;
    transition: border-color 0.25s;
    margin: 0 12px;
    min-width: 100px;
    max-height: 41px;
    align-self: flex-end;
}
button:hover {
    border-color: #3DAEE9;
}
button:focus,
button:focus-visible {
    outline: 1px solid #3DAEE9;
}

input:focus {
    outline: 2px solid #3DAEE9; /* Change to your desired color */
}

select.error,
input.error{
    outline: 1px solid #FA6861;
    color: black;
}
select.error:focus,
input.error:focus{
    outline: 2px solid #fa4036;
}

select,
input{
    box-sizing: border-box;
    display: block;
    width: 500px;
    padding: 10px 12px;
    font-size: 14px;
    border: 1px solid #858E9B;
    background-color: #fff;
    border-radius: 4px;
}

select:invalid {
    color: gray;
}

p {
    font-size: 14px;
    text-align: left;
    margin: 0 0 0 2px;
}
.error {
    color: red;
    font-size: 14px;
    text-align: left;
    margin: 0 0 0 2px;
}

.row {
    display: flex;
    padding: 7px;
    justify-content: center;
    width: 100%;
}