#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.root {
    isolation: isolate;
}

header {
    background-color: #FFFFFF;
    color: #4a5465;
    margin: 0;
    width: 100%;
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light;
    background-color: rgb(238, 241, 244);
    color: #000000;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}


body {
    margin: 0;
    padding: 0;
    min-width: 320px;
    min-height: 100vh;
}

.Button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #545f71;
    color: #fff;
    cursor: pointer;
    transition: border-color 0.25s;
    margin: 0 12px;
    min-width: 100px;
    max-height: 41px;
    align-self: flex-end;
}
.Button:hover {
    background-color: #6f7c97;
}
.Button:focus,
.Button:focus-visible {
    background-color: #3d4555;
}

input:focus {
    outline: 2px solid #80c7ea; /* Change to your desired color */
}

select.error,
input.error{
    outline: 1px solid #ff3b30;
    color: black;
}
select.error:focus,
input.error:focus{
    outline: 2px solid #ff3b30;
}

select,
input{
    box-sizing: border-box;
    display: block;
    width: 500px;
    padding: 10px 12px;
    font-size: 14px;
    border: 1px solid #858E9B;
    background-color: #fff;
    border-radius: 4px;
}

select:invalid {
    color: gray;
}

p {
    font-size: 14px;
    text-align: left;
    margin: 0 0 0 2px;
}
.error {
    color: #ff3b30;
    font-size: 14px;
    text-align: left;
    margin: 0 0 0 2px;
}

.row {
    color: #4a5465;
    display: flex;
    padding: 7px;
    justify-content: center;
    width: 100%;
}

.centerObject {
    display: flex;
    justify-content: center;
}
.AlignCenter {
    align-items: center;
}