:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light;
    background-color: rgb(238, 241, 244);
    color: #000000;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}


body {
    margin: 0;
    padding: 0;
    min-width: 300px;
    min-height: 80vh;
}

#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

.root {
    isolation: isolate;
}

header {
    background-color: #FFFFFF;
    color: #4a5465;
    margin: 0;
    width: 100%;
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light;
    background-color: rgb(238, 241, 244);
    color: #000000;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}


body {
    margin: 0;
    padding: 0;
    min-width: 320px;
    min-height: 100vh;
}

.Button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #545f71;
    color: #fff;
    cursor: pointer;
    transition: border-color 0.25s;
    margin: 0 12px;
    min-width: 100px;
    max-height: 41px;
    align-self: flex-end;

    &:disabled {
        background-color: rgba(176, 185, 200, 0.47);
        &:hover{
            background-color: rgba(176, 185, 200, 0.47);

        }
    }

}
.Button:hover {
    background-color: #6f7c97;
}
.Button:focus,
.Button:focus-visible {
    background-color: #3d4555;
}
.Button.Cancelar {
    background-color: #ff3b30;
}
.Button.Cancelar:hover {
    background-color: #ff7f6e;
}
input:focus {
    outline: 2px solid #80c7ea; /* Change to your desired color */
}

select.error,
input.error{
    outline: 1px solid #ff3b30;
    color: black;
}
select.error:focus,
input.error:focus{
    outline: 2px solid #ff3b30;
}

select,
input{
    box-sizing: border-box;
    display: block;
    width: 500px;
    padding: 10px 12px;
    font-size: 14px;
    border: 1px solid #858E9B;
    background-color: #fff;
    border-radius: 4px;
}

select:invalid {
    color: gray;
}

p {
    font-size: 14px;
    text-align: left;
    margin: 0 0 0 2px;
}
.error {
    color: #ff3b30;
    font-size: 14px;
    text-align: left;
    margin: 0 0 0 2px;
}

.row {
    color: #4a5465;
    display: flex;
    padding: 7px;
    justify-content: center;
    width: 100%;
}

.centerObject {
    display: flex;
    justify-content: center;
}
.AlignCenter {
    align-items: center;
}

.LogoutButton {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 8px;
    border-radius: 50%;
    transition: background 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;

    &:hover {
        background-color: #f0f0f0;
    }
}

.ScrollArea {
    margin: 20px;
    box-sizing: border-box;
    width: 50rem;
    /*height: 8.5rem;*/
    height: 20rem;
}

.Viewport {
    height: 100%;
    border-radius: 0.375rem;
    outline: 1px solid black;
    overscroll-behavior: contain;

    &:focus-visible {
        outline: 2px solid #80c7ea;
    }
}

.Content {
    position: sticky;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /*padding-block: 0.75rem;*/
    /*padding-left: 1rem;*/
    /*margin-right: 1.5rem;*/
    /*border-right: 1px solid black;*/
    /*margin-bottom: 1.5rem;*/
    /*border-bottom: 1px solid black;*/
}

.Scrollbar {
    display: flex;
    position: relative;
    background-color: lightgray;
    border-radius: 0.375rem;
    margin: 0.5rem;
    opacity: 0;
    transition: opacity 150ms;
    pointer-events: none;

    &::before {
        content: '';
        position: absolute;
    }

    &[data-scrolling] {
        transition-duration: 0ms;
    }

    &[data-hovering],
    &[data-scrolling] {
        opacity: 1;
        pointer-events: auto;
    }


    &[data-orientation='vertical'] {
        width: 0.25rem;
        margin: 0.5rem;

        &::before {
            width: 1.25rem;
            height: 100%;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &[data-orientation='horizontal'] {
        height: 0.25rem;
        margin: 0.5rem;

        &::before {
            width: 100%;
            height: 1.25rem;
            left: 0;
            right: 0;
            bottom: -0.5rem;
        }
    }
}

.FixedLength {
    width: 300px;
}

.Thumb {
    width: 100%;
    border-radius: inherit;
    background-color: black;
}

table {
    border-collapse: collapse;
    border-spacing: 0 2px;
    color: #5C6677;
}

tr {
    background-color: white;
    user-select: none;
    text-align: center;
    width: auto;

    &:nth-child(even) * {
        background-color: #EEF1F4;
    }
    &:nth-child(odd) * {
        background-color: white;
    }

}

.TablaBuscar tbody tr {
    border-top: 2px solid #D2D8E2;
    border-bottom: 2px solid #D2D8E2;

    &:first-child {
        border-top: 4px solid #D2D8E2;
    }

    &:last-child {
        border-bottom: none;
    }
}

.TablaBuscar tbody > tr:hover > td {
    background-color: #d7e5fc;
}

tbody > tr.selected td {
    background-color: #C2D8FB;
}

thead {
    position: sticky;
    top: 0;
    z-index: 2;
}

table tbody th {
    position: sticky;
    left: 0;
    background: white;
    z-index: 1;
}