#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.root {
    isolation: isolate;
}

header {
    background-color: #FFFFFF;
    color: #4a5465;
    margin: 0;
    width: 100%;
}