.ScrollArea {
    margin: 20px;
    box-sizing: border-box;
    width: 50rem;
    /*height: 8.5rem;*/
    height: 20rem;
}

.Viewport {
    height: 100%;
    border-radius: 0.375rem;
    outline: 1px solid black;
    overscroll-behavior: contain;

    &:focus-visible {
        outline: 2px solid #80c7ea;
    }
}

.Content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /*padding-block: 0.75rem;*/
    /*padding-left: 1rem;*/
    margin-right: 1.5rem;
    border-right: 1px solid black;
}

.Scrollbar {
    display: flex;
    justify-content: center;
    background-color: lightgray;
    width: 0.25rem;
    border-radius: 0.375rem;
    margin: 0.5rem;
    opacity: 1;
    transition: opacity 150ms;
    pointer-events: none;

    &[data-scrolling] {
        transition-duration: 0ms;
    }

    &[data-hovering],
    &[data-scrolling] {
        opacity: 1;
        pointer-events: auto;
    }

    &::before {
        content: '';
        position: absolute;
        width: 1.25rem;
        height: 100%;
    }
}

.Thumb {
    width: 100%;
    border-radius: inherit;
    background-color: black;
}

table {
    border-collapse: collapse;
    border-spacing: 0 2px;
    color: #5C6677;
}

tr {
    background-color: white;
    user-select: none;
    text-align: center;
    width: auto;
}

.TablaBuscar tbody tr {
    border-top: 2px solid #D2D8E2;
    border-bottom: 2px solid #D2D8E2;

    &:first-child {
        border-top: 4px solid #D2D8E2;
    }

    &:last-child {
        border-bottom: none;
    }
}

.TablaBuscar tbody > tr:hover > td {
    background-color: #d7e5fc;
}

tbody > tr.selected td {
    background-color: #C2D8FB;
}

thead {
    position: sticky;
    top: 0;
    z-index: 1;
}

table tbody th {
    position: sticky;
    left: 0;
    background: white;
}